.calendar
{
position: relative;
width: 960px;
}
div.date,div.days
{
	
	width: 120px;
	border:1px solid black;
	float: left;
	margin: 1px;

}
.blankday
{
	background: #F89696;
}
div.date
{
	height: 120px;	
}
.today
{
	background: #81DAF5;
}

