.text
{
	position: relative;
	width: 960px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

.calendar
{
position: relative;
width: 960px;
}
div.date,div.days
{	
	font-family: 'Raleway', sans-serif;
	width: 120px;
	border:1px solid black;
	float: left;
	margin: 1px;
	text-align: center;

}
.blankday
{
	background: #F3E2A9;
	text-align: center;
}
div.days
{
	background: #A9F5D0;
}
div.date
{

	height:120px;
	text-align: center;
}
.today
{
	background: #81DAF5;
	font-family: 'Raleway', sans-serif;
	width: 120px;
	border:1px solid black;
	float: left;
	margin: 1px;
	height:120px;
	text-align: center;
}

